body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#posts-container {
    margin-bottom: 40px;
}

#comment-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.reply-link-post, .reply-link-comment{
    margin-left: 20px;

}

textarea, input {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

button {
    padding: 10px 20px;
}

.reply-context {
    font-style: italic;
    -webkit-text-stroke: 0.5px; 
    margin-bottom: 5px;
}

.main-comment {
    font-style: normal;
}

.reply-link {
    text-decoration: underline;
    color: blue;
    margin-left: 0 !important;
}







